/* ===== THEME: FOREST TRADER ===== */

body {
  background: #1b2a1f;
  color: #d9f0d3;
}

.navbar,
.card {
  background: #233423;
}

.summary-box {
  background: #2a3b2b;
}

.slider {
  background: #4f7554;
}

input:checked + .slider {
  background: #a3e635;
}

.score,
.summary-box span {
  color: #a3e635;
}

#overallScore {
  color: #facc15;
}

.total-box {
  background: linear-gradient(135deg, #2a3b2b, #14532d);
}
